<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>687278476664-8ki8anddiiajvr9g1mtvrfu746b90ma9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.687278476664-8ki8anddiiajvr9g1mtvrfu746b90ma9</string>
	<key>API_KEY</key>
	<string>AIzaSyDKlSM66NSLd0zBGHQQ4sT2RTx3N0mU9XY</string>
	<key>GCM_SENDER_ID</key>
	<string>687278476664</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.learnStream</string>
	<key>PROJECT_ID</key>
	<string>learnstream-deabb</string>
	<key>STORAGE_BUCKET</key>
	<string>learnstream-deabb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:687278476664:ios:e3e1936a8c1c821583cc8d</string>
</dict>
</plist>